# Mission to Mars

In [79]:
# Importing dependencies required for entire code below
import os
import time
import shutil
import requests
import pandas as pd
from splinter import Browser
from IPython.display import Image
from urllib.parse import urlsplit
from bs4 import BeautifulSoup as bs

# Setting up Chromdriver location
exe_path = {"executable_path":os.path.abspath("chromedriver.exe")}
browser = Browser("chrome", **exe_path, headless = False)

### NASA Mars News - scraping

In [80]:
time.sleep(5)
# Using browser.visit we wll visit Nasa Mars News page
url ="https://mars.nasa.gov/news/"
browser.visit(url)

In [81]:
# i am placing 5s hold time in order for page to load properly
time.sleep(5)
# Using beautiful soup we will parse news page
webpage = browser.html
soup = bs(webpage,"html.parser")

# Idenify the recent article and save title, and date into variables. By identifying location of the title  and paragraph class
news_title_text = soup.find("div",class_="content_title").text
news_paragraph_text = soup.find("div", class_="article_teaser_body").text

# Using print function with header Title and Paragraph we will print out the values for each
print(f"Title:{news_title}")
print(f"Paragraph:{news_paragraph}")

Title:Opportunity's Parting Shot Was a Beautiful Panorama
Paragraph:NASA declared the record-setting rover's mission complete on Feb. 13, 2019, but the final image from the rover has just been processed.

### JPL Mars Space Images - Featured Image

In [82]:
# Using browser.visit we wll visit Mars image
mars_img_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(mars_img_url)

In [83]:
# Scrape the page with beautiful soup and retrive the image string:
html = browser.html
soup = bs(html, "html.parser")
image = soup.find("img", class_="thumb")["src"]
img_url = "https://jpl.nasa.gov"+image
featured_image_url = img_url
print(featured_image_url)

https://jpl.nasa.gov/spaceimages/images/wallpaper/PIA22910-640x350.jpg

### Mars Weather

In [84]:
# Visit Mars Weather Twitter address
twt_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twt_url)

In [85]:
# Scraping current wether data by reading the tweeter text from the class within p 
html_weather = browser.html
soup = bs(html_weather, "html.parser")
m_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(m_weather)

InSight sol 108 (2019-03-17) low -96.1ºC (-140.9ºF) high -14.4ºC (6.1ºF)
winds from the SW at 4.4 m/s (9.9 mph) gusting to 11.5 m/s (25.8 mph)
pressure at 7.20 hPapic.twitter.com/LqIwCDpH7b

### Mars Facts

In [86]:
# Visiti Space Facts site to extract data into table
url_facts = "https://space-facts.com/mars/"

In [87]:
# Read htlm with pandas and create table 
mars_facts_table = pd.read_html(url_facts)
mars_facts_table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [88]:
# We are going to create columns parameter and values and set index on parameter. 
df_mf = mars_facts_table[0]
df_mf.columns = ["Parameter", "Values"]
df_mf.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [89]:
# I am goin to use pandas to generate HTML tables from DataFrames and save as html file
mars_html_table = df_mf.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

### Mars Hemispheres

In [90]:
# I am going to visit the page that provides inforamtion about Mars hemispheres and collect required informations
hem_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hem_url)

In [91]:
# I am going to screape the page into soup and create list container mars_hem to store the data
html = browser.html
soup = bs(html, "html.parser")
mars_hm = []

In [92]:
# use for loop to go through tag of each hemisphere and load data in dictionary. Since this one is challenging, 
# im going to pseudocode and write the code around the pseudo code
for i in range (4):
    # placing the timer on 5s between each eteration through the loop
    time.sleep(5)
    # locating images through tag h3
    m_images = browser.find_by_tag("h3")
    # clicking on each image to get to the correct
    m_images[i].click()
    # bringint into soup
    html = browser.html
    soup = bs(html, "html.parser")
    # looking into high res image
    partial = soup.find("img", class_="wide-image")["src"]
    # looking for image title
    img_title = soup.find("h2",class_="title").text
    # getting image urale
    img_url = "https://astrogeology.usgs.gov"+ partial
    # storing data into dictionary
    dictionary = {"title":img_title,"img_url":img_url}
    # appending the data inot mars hemishere dictionary
    mars_hm.append(dictionary)
    browser.back()

In [93]:
mars_hm

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]